:root {
  --black: #1e1f27;
  --gray-dark: #37383f;
  --gray-light: #f5f5f5;
  --white: #fff;
  --yellow-min: #fff9e1;
  --yellow-light: #fef7c1;
  --yellow: #f8db46;
  --yellow-dark: #f1d06e;
  --green-light: #41cc4f;
  --green: #04c27f;
  --blue-light: #3f96fc;
  --purple: #5758f1;
  --purple-light: #937aff;
  --pink: #ff3d9a;
  --transparent-max: #ffffffcc;
  --transparent-middle: #ffffff80;
  --transparent-min: #ffffff33;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow-x: hidden;
}

/* GOALS SECTION */

.goals {
  background-color: var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 80px 16px;
  width: 100%;
}

.heading_group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.section_heading {
  text-align: center;
  font-size: 32px;
  line-height: 120%;
  font-weight: bold;
}

.goals_description {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.goals_achieved {
  font-weight: bold;
  font-size: 32px;
  line-height: 160%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.goals_highlighted {
  font-size: 64px;
  line-height: 120%;
  color: var(--yellow);
  text-align: center;
}

/* GOALS CAROUSEL */

.carousel {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.carousel_content {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.carousel_images {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.carousel_button {
  min-width: 44px;
  min-height: 44px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--gray-light);
  color: var(--black);
  position: absolute;
}

.carousel_button > i {
  font-size: 24px;
}

.carousel_button.left {
  left: 0;
}

.carousel_button.right {
  right: 0;
}

.carousel_img {
  width: 250px;
  height: 250px;
  display: none;
  transition: all 1s ease-in-out;
}

@keyframes fade {
  0% { opacity: 0 },
  100% { opacity: 1 }
}

.carousel_img.visible {
  display: block;
  animation-name: fade;
  animation-duration: 1s;
}

#carousel_1 {
  border-radius: 32px;
  background-color: var(--yellow-dark);
}

#carousel_2 {
  border-radius: 32px 250px 250px 250px;
  background-color: var(--green);
}

#carousel_3 {
  border-radius: 32px;
  background-color: var(--gray-light);
}

#carousel_4 {
  border-radius: 250px 32px 250px 250px;
  background-color: var(--purple);
}

#carousel_5 {
  border-radius: 50%;
  background-color: var(--pink);
}

/* CAROUSEL DOTS */

.carousel_dots_list {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.carousel_dots_item {
  background-color: var(--transparent-min);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  color: transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.carousel_dots_item.active {
  background-color: var(--white);
}

/* RESPONSIVE */

@media screen and (min-width: 375px) {
  .section_heading {
    font-size: 48px;
  }
}

@media screen and (min-width: 768px) {
  .goals {
    padding: 80px 32px;
  }

  .goals_description {
    flex-direction: row;
  }

  .section_heading {
    font-size: 56px;
  }
}

@media screen and (min-width: 1440px) {
  .goals {
    padding: 80px 64px;
  }
}